<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 
			     connectionString="server=127.0.0.1;port=3306;user=root;database=csharp_toolsapp;"

			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

<!--connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;Integrated Security=True;"-->
